.article-content {
  & > * {
    margin: 10px 20px;
  }
  & > .Blog {
    & > .first-section {
      & > .ref-article {
        margin-left: -20px;
        margin-right: -20px;
        width: calc(100% + 40px);

        &:first-of-type {
          margin-top: -10px;
        }
      }
    }
  }
  & > .H5,
  & > .Data {
    .section-name {
      text-transform: uppercase;
    }
    & > .h5-live-viewer {
      margin: 10px 0;
      @media (min-width: 780px) {
        padding: unset;
      }
      iframe {
        border-radius: 10px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        @media (min-width: 780px) {
          box-shadow: unset;
          border: 1px solid #f8f8f8;
          background: #f8f8f8;
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .article {
    .H5,
    .Data {
      .section-viewer {
        & > .hightlight {
          font-size: 0.75em !important;
        }
      }
    }
  }
}
