.article-view {
  .editing-preview {
    position: fixed;
    top: 61px;
    width: 40vw;
    max-width: 780px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff8;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    right: 0;
    z-index: 1;
    border-radius: 10px 0 0 10px;
    font-size: 0.85em;
    box-shadow: var(--shadow);
    .ant-collapse-content {
      max-height: 30vh;
      overflow-y: auto;
      background: transparent;
      .ant-collapse-content-box {
        padding: 0;
      }
    }

    .preview-title-panel {
      display: flex;
      align-items: center;
      .preview-title {
        flex: 1;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
      }
    }
  }
  &.ant-card-bordered {
    margin: 0;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #0000002c;
    background: #fff8;
  }

  & .ant-card-body {
    padding: 0;
  }

  & .article-body {
    background: transparent;
    display: block;
    user-select: text;

    .show-more {
      // margin: -15px 10px 5px 10px;
      margin-bottom: 2px;
      text-align: center;
      display: none;
      button {
        color: #0003;
        transform: rotate(-90deg) scaleX(0.75);
      }
    }
  }

  .article-title {
    word-break: break-all;
    border-bottom: 1px groove #0000000c;
    padding: 5px 10px 0px 20px;
    color: #251202a0;
    font-weight: 550;
    margin: -1px -1px 0px -1px;
    border-radius: 2px 2px 0 0;
    display: flex;
    align-items: center;

    & > div:nth-child(2) {
      flex: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      &.empty-title {
        min-height: 3em;
      }
    }

    .icon-badges {
      display: block;
      height: 1.2em;
      min-width: 1.2em;
      max-width: 3em;
      text-align: center;
      left: 10px;
      right: unset;
      border-radius: 1.2em;
      background-color: var(--primary-80);
      color: white;
      padding: 0.1em;
      transform: scale(0.75);
      transition: none !important;
      --webkit-transition: none !important;
    }

    & button {
      opacity: 1;
      margin: 0 3px;
      padding: 0;
      color: #25120260;
      &.ant-btn-dangerous {
        color: rgb(120, 20, 20, 0.65) !important;
      }
    }

    & .recommend-button {
      margin: 0 10px 0 0;
    }

    & button:hover {
      opacity: 1;
    }
  }

  & .files-list {
    display: flex;
    overflow-x: auto;
    background: #00000005;
    margin: 0 -1px -1px -1px;
    padding: 0 21px 10px 21px;
    border-radius: 0 0 2px 2px;
    align-items: center;
    justify-content: space-between;

    & > button {
      &.ant-btn-dangerous {
        color: rgb(120, 20, 20, 0.65);
      }
    }
  }

  .actions-list {
    border: none;
    max-width: 30%;
    background: transparent;

    li.ant-menu-item {
      padding: 0;
      margin: 0;
      border-bottom: none !important;
      top: 0;
      .action-name {
        display: none;
      }
    }

    .ant-menu-submenu {
      margin: 0;
    }

    .ant-menu-submenu-title {
      padding: 0 10px;
    }
  }

  & .actions-tags-list {
    display: flex;
    box-sizing: border-box;
    overflow-x: auto;
    background: #00000005;
    margin: 20px -1px 0 -1px;
    padding: 20px 21px 10px 21px;
    border-top: 1px solid #00000005;

    & .ant-tree-select {
      flex: 1;
      min-width: 12em;
    }

    & .ant-select-selector {
      border-radius: 10px;
    }

    & > * {
      margin-right: 8px;
    }

    & > .ant-picker {
      min-width: 8em;
    }
  }
}

.ant-menu-submenu-popup {
  li.ant-menu-item.ant-menu-item-only-child .action-name {
    display: unset;
  }

  .icon-badges {
    display: none !important;
  }
}

.library {
  &.H5,
  &.Data {
    max-width: 400px;
    margin: 0 auto;
    .articles {
      column-count: unset;
    }
    .article-view {
      margin: 20px 50px;
      --border-radius: 10px;
      border-radius: var(--border-radius);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
      .article-title {
        border-bottom: none;
      }
      .h5-live-viewer .fullscreen-wraper {
        padding-top: 140%;
        iframe {
          border-radius: 0 0 var(--border-radius) var(--border-radius);
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .article-view {
    .editing-preview {
      width: 90vw;
    }
  }
}
