.article-list-wraper {
  min-height: 100vh;
  background: white;
  max-width: 780px;
  margin: 0 auto;
  margin-top: var(--titlebar-height);
  padding: 5px 0 0 0;
  @media (min-width: 780px) {
    margin-top: calc(var(--titlebar-height) + 10px);
    padding: 10px;
    border-radius: 0px;
    box-shadow: var(--shadow);
    min-height: unset;
  }

  .article-list-menus {
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    width: 100%;
    box-shadow: var(--shadow);
    background: #fff;
    @media (min-width: 780px) {
      background: #fbfbfb;
    }
    .standalone & {
      background: #fff;
    }
    height: var(--titlebar-height);
    @media (min-width: 780px) {
      padding: 0;
    }
    z-index: 1;

    & > * {
      margin-left: 10px;
    }

    & > *:first-child {
      margin-left: 0px;
    }

    .title {
      align-self: center;
      color: #251202;
      font-weight: bold;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      flex: 1;
      font-size: 15px;
    }
  }

  .article-list {
    padding: 10px 0;
    &.column-count-1 {
      column-count: 1;
    }

    &.column-count-2 {
      column-count: 2;
    }

    &.column-count-3 {
      column-count: 3;
    }

    &.column-count-4 {
      column-count: 4;
    }

    &.column-count-5 {
      column-count: 5;
    }

    & > .article {
      margin: 0 10px;
      & ~ .article {
        margin-top: 10px;
      }
    }
  }
}

.article-list {
  @import "./ArticleList.Article.less";
}

@media print {
  .article-list-wraper {
    background: unset;
    margin-top: unset;
    padding: unset;
    border-radius: unset;
    border: unset;
    min-height: unset;
    max-width: unset;

    .article-list {
      padding: 0;
      max-width: unset;
      margin: 0;

      &.column-count-2 {
        column-fill: auto;
        height: 100%;
      }
    }

    .article-list-menus {
      display: none;
    }
  }
}
