.single-article {
  position: relative;
  background: #fff;
  min-height: 100vh;
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB,
    WenQuanYi Micro Hei, Microsoft YaHei, sans-serif;

  .menus {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5px;
    z-index: 2;
    background: #fff8;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: var(--shadow);
    // border-bottom: 1px solid #f0f0f0;
    .menus-dict {
      border-top: 1px solid #00000008;
      display: flex;
      & > .capture-dict {
        flex: 1;
        height: 51px;
      }
      & > .capture-dict::after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 10px;
        background: linear-gradient(
          0,
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0)
        );
      }
      & > button {
        margin-top: 6px;
      }
    }
    .menus-bar {
      padding: 5px 0;
      display: flex;
      .ant-btn-primary {
        background: transparent;
      }
      .pen-size {
        width: 60%;
        border-radius: 25%;
        vertical-align: middle;
        display: inline-block;
      }
      // & > * {
      //   margin-right: 10px;
      // }

      a.ant-dropdown-link.ant-dropdown-trigger {
        align-self: center;
      }

      .sections-icon {
        margin-left: 5px;
      }

      .title {
        align-self: center;
        color: #251202;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex: 1;
      }

      .paging-buttons {
        position: fixed;
        left: 0;
        right: 0;
        display: flex;
        top: 45vh;
        justify-content: space-between;
        .paging-button {
          margin: 0;
          transform: scale(1.5);
          color: #0001;
        }

        .paging-button-left {
          left: 5px;
        }

        .paging-button-right {
          right: 5px;
        }
      }
    }
  }

  & > .article {
    max-width: 780px;
    user-select: text;
  }

  .paging {
    height: 100vh;
    overflow-y: hidden;
    .article {
      column-width: 100vw;
      column-count: auto;
      column-gap: 0;
      touch-action: none;
      max-height: calc(100% - 61px);
    }
  }
}

.single-article-content-menu-btn.title {
  margin-left: 35px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: normal;
}

.single-article {
  @import "./ArticleSingle.Article.less";
}

@media (min-width: 780px) {
  .single-article {
    background-color: transparent;
    color: #000;

    .menus {
      background: #fff;
    }

    .article {
      box-shadow: var(--shadow);
      border-radius: 5px;
      padding-top: 10px;
      background: #fff;
      margin: 0 auto;
      margin-top: 10px;
    }
  }
}

@media print {
  .paging {
    height: unset;
    overflow-y: unset;
    .article {
      column-width: unset;
      column-count: unset;
      column-gap: unset;
      touch-action: unset;
      max-height: unset;
    }
  }
  .single-article {
    position: unset;
    margin-bottom: unset;
    min-height: unset;
    background-color: transparent;
    color: #000;

    .capture-dict {
      display: none;
    }

    .menus {
      display: none;
    }

    & > .article {
      padding: unset;
      background: unset;
      box-shadow: unset;
      max-width: unset;
      margin: 0;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }
}
