.H5,
.H5App {
  .h5-live-viewer {
    margin: 10px 0;
    iframe {
      box-shadow: rgba(0, 0, 0, 0.4) 0 3px 10px;
      border-radius: 10px;
    }
  }
  .h5-live-viewer.fullscreen {
    iframe {
      box-shadow: unset;
      border-radius: unset;
    }
  }
  .section-viewer {
    & > .section-name {
      border-bottom: 1px solid #0001;
      padding-bottom: 5px;
      text-transform: uppercase;
    }
  }
}

.ref-article {
  .h5-live-viewer {
    margin-top: 0;
  }
}

@media (max-width: 780px) {
  .H5,
  .H5App {
    .section-viewer {
      & > .hightlight {
        font-size: 0.75em !important;
      }
    }
  }
}
