span.embed-src {
  transform: scale(0.8);
  & > span {
    font-size: 0.8em;
    background: #f8f8f8;
    color: var(--primary);
    padding: 0 2px;
    border-radius: 6px;

    .ant-btn-dangerous & {
      color: var(--danger);
    }
  }
}

.single-article {
  position: relative;
  background: #fff;
  min-height: 100vh;
  font-family: monospace;
  font-size: 15px;
  @media (min-width: 780px) {
    font-size: 16px;
  }
  color: #404040;
  font-feature-settings: "tnum";
  font-variant: tabular-nums;
  margin-top: 50px;
  overflow: hidden;
  a {
    color: chocolate;
  }
  .menus {
    position: fixed;
    top: calc(0px - var(--overflow-top));
    left: 0;
    right: 0;
    padding: 0 5px;
    z-index: 2;
    background: #fff8;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: var(--shadow);
    // border-bottom: 1px solid #f0f0f0;
    .menus-dict {
      border-top: 1px solid #00000008;
      display: flex;
      & > .capture-dict {
        flex: 1;
        height: 51px;
      }
      & > .capture-dict::after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 10px;
        background: linear-gradient(
          0,
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0)
        );
      }
      & > button {
        margin-top: 6px;
      }
    }
    .menus-bar {
      padding: 5px 0;
      padding-top: calc(5px + var(--overflow-top));
      display: flex;
      .single-article-content-menu-btn-draw {
        margin-right: 5px;
      }
      .ant-btn-primary {
        background: #e8912e80;
        border-color: #e8912e80;
        border-radius: 10px;
      }
      .pen-size {
        width: 60%;
        border-radius: 25%;
        vertical-align: middle;
        display: inline-block;
      }
      // & > * {
      //   margin-right: 10px;
      // }

      a.ant-dropdown-link.ant-dropdown-trigger {
        align-self: center;
      }

      .sections-icon {
        margin-left: 5px;
      }

      .title {
        align-self: center;
        color: #251202;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex: 1;
        text-align: center;
      }

      .status-text {
        flex: 1;
        align-self: center;
        margin-left: 5px;
        padding: 5px 0;
        @media (max-width: 780px) {
          font-size: 0.8em;
        }
        line-height: 1.8;
        user-select: text;
      }

      .paging-buttons {
        position: fixed;
        left: 0;
        right: 0;
        display: flex;
        top: 45vh;
        justify-content: space-between;
        .paging-button {
          margin: 0;
          transform: scale(1.5);
          color: #0001;
        }

        .paging-button-left {
          left: 5px;
        }

        .paging-button-right {
          right: 5px;
        }
      }
    }
  }

  .mdg.hover {
    & > .mdg-f {
      background: var(--primary-20);
      @media print {
        background: unset;
      }
    }
  }

  & > .article {
    max-width: 780px;
    user-select: text;
    position: relative;
    line-height: 2em;

    .article-content[contenteditable="true"],
    .embed-src {
      outline: none !important;
      .md-viewer p {
        text-align: inherit;
      }
      .mdg.hover {
        & > .mdg-f {
          background: unset;
          @media print {
            background: unset;
          }
        }
      }
      .mdg > .mdg-b {
        font-size: 0.8em;
        // color: #0008;
        // font-style: italic;
        display: unset;
        line-height: 1em;
        line-break: auto;
      }
    }
  }

  &.reading-theme-1 > .article p {
    // background-image: linear-gradient(to right, #00000008 1px, transparent 1px),
    //   linear-gradient(to bottom, #00000008 1px, transparent 1px);
    // background-size: 1em 1em;
    // line-height: 3em;
    // padding-bottom: 1px;
    // line-height: 2.5em;
    // line-height: 3em;
    // font-family: monospace;
    // font-size: 15px;
  }

  .paging {
    height: 100vh;
    overflow-y: hidden;
    .article {
      column-width: 100vw;
      column-count: auto;
      column-gap: 0;
      touch-action: none;
      max-height: calc(100% - 61px);
    }
  }

  .side {
    overflow-y: auto;
    .catelog {
      display: none;
      overflow-y: auto;
      & > div {
        padding: 10px 5px;
        &.top {
          color: #e8912e;
        }
        &.item {
          border-top: 1px solid #00000008;
          & .item-indent {
            white-space: pre;
            color: #0003;
            font-family: monospace;
          }
          &:first-of-type {
            border-top: none;
          }
        }

        &.item-0 {
          font-size: 1.05em;
          & .item-indent {
            display: none;
          }
        }

        &.current-item {
          // background: linear-gradient(0, #e8912e, #e8912ecc);
          color: #e8912ecc;
          font-weight: bolder;
        }
      }
    }
  }

  .show-pop.side .catelog > div.item {
    padding: 8px 5px;
  }
}

.single-article-content-menu-btn.title {
  margin-left: 35px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: normal;
}

.single-article {
  @import "./ArticleSingle.Article.less";
}

@media (min-width: 780px) {
  .single-article {
    background-color: #fff;
    margin-left: 25%;
    .menus {
      left: 25%;
      background-color: #fff;
      box-shadow: unset;
      border-bottom: 1px solid #0001;
    }

    .article {
      padding-top: 10px;
      background: #fff;
      margin: 0 auto;
    }

    .side {
      background: #f8f8f8;
      width: 25%;
      position: fixed;
      height: 100%;
      top: 0;
      left: 0;
      padding: 50px 0;
      box-shadow: -0.1em 0 0.25em rgba(0,0,0,.1) inset;
      .catelog {
        min-width: 10em;
        padding: 0 1em;
        display: block;
      }
    }
  }
  .catelog-btn {
    display: none;
  }
}

@media print {
  .paging {
    height: unset;
    overflow-y: unset;
    .article {
      column-width: unset;
      column-count: unset;
      column-gap: unset;
      touch-action: unset;
      max-height: unset;
    }
  }
  .single-article {
    position: unset;
    margin-top: unset;
    margin-bottom: unset;
    margin-left: unset;
    min-height: unset;
    background-color: transparent;
    color: #000;

    .capture-dict {
      display: none;
    }

    .menus,
    .side {
      display: none;
    }

    .t {
      color: unset;
    }

    & > .article {
      padding: unset;
      background: unset;
      box-shadow: unset;
      max-width: unset;
      margin: 0;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }
}
