.audio-player {
  display: flex;
  align-items: center;
  & > * {
    margin: 0 5px;
    height: unset;
    padding: unset;
  }
  & > .controls {
    height: 32px;
    width: 32px;
    padding: 0;
  }
  .title {
    flex: 1;
  }
}
