.H5,
.H5App {
  padding: 0;
  // margin-bottom: -10px;
  margin-right: -1px;

  // iframe {
  //   border-radius: 0 0 10px 10px;
  // }
}

.ref-article {
  .H5,
  .H5App {
    .h5-live-viewer {
      margin: -10px -20px 0 -20px;
      width: calc(100% + 40px);
    }
  }
}

.ModLang {
  .ant-tabs-nav {
    transform: translate(0, -5px);
  }
}

.Blog {
  .normal-section {
    display: none;
  }
  .first-section > *:last-child {
    margin-bottom: 0 !important;
  }
}
