.article-body {
  .jump-to {
    display: none;
  }
  & > .Blog {
    margin: 10px 20px;
    .normal-section {
      display: none;
    }
    & > .first-section {
      & > .ref-article {
        margin-left: -20px;
        margin-right: -20px;
        width: calc(100% + 40px);

        &:first-of-type {
          margin-top: -10px;
        }
        &:last-of-type {
          margin-bottom: -10px;
          & > .base-viewer > .h5-live-viewer:last-of-type > iframe {
            border-radius: 0 0 10px 10px;
          }
        }
      }
    }
  }

  & > .H5,
  & > .Data {
    min-height: 4em;
    .h5-live-viewer:last-of-type > iframe {
      border-radius: 0 0 10px 10px;
    }
  }

  & > .ModLang {
    .ant-tabs-nav {
      transform: translate(0, -5px);
    }
  }

  & > .ResFile {
    margin: 0 10px 10px 10px;
  }
}
