.H5,
.H5App {
  padding: 0;
  // margin-bottom: -10px;
  margin-right: -1px;

  // iframe {
  //   border-radius: 0 0 10px 10px;
  // }
}

.ModLang {
  .ant-tabs-nav {
    transform: translate(0, -5px);
  }
}

.Blog {
  .normal-section {
    display: none;
  }
  .first-section > *:last-child {
    margin-bottom: 0 !important;
  }
}
