.manage-words {
  padding: 10px;
  flex: 1;

  & .word-toogle-detail-column {
    width: auto;
    padding-right: 6px;
    color: #0002;
  }
  & .word-value-column {
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  & .word-toogle-column {
    width: auto;
    padding-left: 0px;
    padding-right: 5px;
  }

  .word {
    color: var(--primary);
  }

  .ant-table {
    border-radius: 10px;
    box-shadow: var(--shadow);
    background: #fff8;
  }

  .ant-btn-dangerous.ant-btn-primary {
    box-shadow: 1px 1px 3px #0008;
  }

  .dict {
    border: 1px solid #0001;
    background: #0000000c;
    border-radius: 10px;
    padding: 5px 5px 0 5px;
    margin: 5px -5px -10px -5px;
  }
}
