.manage-words {
  padding: 10px 10px 40px 10px;

  & .word-value-column {
    width: 96px;
  }

  & .word-toogle-column {
    width: 24px;
    padding-left: 5px;
    padding-right: 5px;
  }

  & .word-added-column {
    width: 48px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .word {
    color: #e8912e;
  }
}
