.side-nav-panel {
  .side-nav {
    border: none;
    background: transparent;
  }

  .ant-drawer-content {
    background-color: #fffffff0 !important;
    -webkit-backdrop-filter: blur(5px) !important;
    backdrop-filter: blur(5px) !important;
  }

  .ant-drawer-body {
    padding: 24px 0;
  }

  .ant-menu-item img {
    object-fit: contain;
    max-width: 2em;
    height: 1em;
    margin-right: 10px;
    margin-bottom: 3px;
  }
}

.nav {
  display: flex;
  box-shadow: var(--shadow);
  background: #fff8;
  padding: 2px 0;
  margin-bottom: 10px;
  border-bottom: none;
  position: relative;
  height: 49px;

  .nav-open-menu {
    padding: 10px;
    border: none !important;
    background: transparent !important;
  }

  & .nav-home {
    flex: 1;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    img {
      height: 1.25em;
      object-fit: contain;
      margin-right: 10px;
      vertical-align: text-top;
    }

    span a {
      color: #251202;
      font-weight: 550;
    }
  }

  & .ant-menu-item {
    border-bottom: unset !important;
  }

  & .avatar {
    border-radius: 100%;
    border-width: 1px;
    padding: 1px;
    border-style: solid;
    // border-color: #00000005;
  }
}

.nav-avatar-icon {
  padding-right: 11px !important;

  img {
    height: 18px;
    width: 18px;
    object-fit: contain;
  }
}

.nav-logo-icon {
  padding-right: 5px !important;
  img {
    height: 24px;
    width: 24px;
    object-fit: contain;
  }
}
