.publish-article {
  .iframe-wraper {
    --height: 50vh;
    height: var(--height);
    width: calc(var(--height) * 9 / 16);
    max-width: 100%;
    padding: 0 5px;
    box-shadow: var(--shadow);
    margin: 10px auto;
  }
  .menu {
    display: flex;
    justify-content: center;
  }
  iframe {
    border: none;
    width: 200%;
    height: 200%;
    transform: scale(0.5) translate(-50%, -50%);
  }
}
