.H5,
.H5App {
  padding: 0;
  height: 100%;
  .h5-live-viewer {
    padding-top: unset;
    position: unset;
    .float-menu {
      display: none;
    }
    iframe {
      position: unset;
    }
  }
}

.ModLang {
  .ant-tabs-nav {
    background: transparent;
  }
}

.Blog {
  .jump-to {
    display: none;
  }
  .ref-article {
    margin: -10px -30px;
    position: relative;
    width: calc(100% + 60px);
    height: 14em;
  }
  .first-section {
    min-width: 100%;
    // height: 7.8em;
    // overflow-y: hidden;
    touch-action: pan-y;
    img {
      width: 50%;
      max-width: 50%;
    }
    &::after {
      content: " ";
      display: block;
      height: 4px;
      position: sticky;
      bottom: -8px;
      background: transparent;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
  }
  .normal-section {
    display: none;
  }
}

.ResFile {
  .summary {
    .icon,
    .download {
      display: none;
    }
  }
}
