.recents-view {
  margin-bottom: 2em;

  a.recent-article {
    color: unset;
  }

  & .recent-article-wraper {
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 10px;
    margin: 10px;
    background-color: #fff8;

    .article-title {
      word-break: break-all;
      border-bottom: 1px groove #0000000c;
      padding: 10px 10px 5px 20px;
      color: #251202a0;
      font-weight: 550;
      margin: -1px -1px 0px -1px;
      border-radius: 2px 2px 0 0;
      display: flex;
      align-items: center;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;

      .recommend-button {
        margin: 0 10px 0 0;
        opacity: 1;
        color: rgb(120, 20, 20, 0.65) !important;
        padding: 0;
        color: #251202a5;
      }
    }

    & .recent-article {
      overflow: hidden;
      height: 14em;
      display: flex;
      flex-direction: column;
    }
  }

  & .title {
    // color: #251202a0;
    font-weight: bold;
    margin: 10px 20px 0 20px;
    padding: 0;
  }
}

.ant-carousel .slick-dots li {
  width: 5px;
  height: 5px;
  button {
    background: #f97241 !important;
    opacity: 1 !important;
    height: 5px;
    border-radius: 5px;
  }

  &.slick-active {
    width: 10px !important;
  }
}

.ant-carousel {
  touch-action: pan-x;
}
