.recents-view {
  border-bottom: 1px solid #0001;

  & .recent-article-wraper {
    background-color: #fff8;
    @media (max-width:780px) {
      max-height: 50vh;
      overflow-y: hidden;
    }

    a.recent-article {
      color: unset;
    }

    & .recent-article {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      pointer-events: none;
    }
  }

  .ant-carousel .slick-dots{
    z-index: 2;
  }

  .ant-carousel .slick-dots li {
    width: 5px;
    height: 5px;
    button {
      background: #f97241 !important;
      opacity: 1 !important;
      height: 5px;
      border-radius: 5px;
    }

    &.slick-active {
      width: 10px !important;
    }
  }

  .ant-carousel {
    touch-action: pan-x;
  }
}

@import "./RecentsView.Article.less";
