.recent-article {
  .article-title {
    display: none;
  }
  .jump-to {
    display: none;
  }
  .float-menu {
    display: none;
  }
  & > .Blog {
    margin: 10px 20px;
    .normal-section {
      display: none;
    }
    & > .first-section {
      & > .ref-article {
        margin-left: -20px;
        margin-right: -20px;
        width: calc(100% + 40px);

        &:first-of-type {
          margin-top: -10px;
        }
        &:last-of-type {
          margin-bottom: -10px;
        }
      }
    }
  }

  & > .ResFile {
    .summary {
      .icon,
      .download {
        display: none;
      }
    }
  }

  & > .ModLang {
    .ant-tabs-nav {
      background: transparent;
    }
  }
}

.recents-view {
  &.H5,
  &.Data {
    .recent-article-wraper {
      max-width: 400px;
      margin: 0 auto;
      background: transparent;
      .recent-article {
        margin: 50px;
        padding: 10px;
        --border-radius: 10px;
        border-radius: var(--border-radius);
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
        .h5-live-viewer .fullscreen-wraper {
          padding-top: 140%;
        }
      }
    }
  }
}
