.recents-view {
  margin-bottom: 20px;

  & .recent-article-wraper {
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 10px;
    margin: 10px;
    background-color: #fff8;

    & .recent-article {
      overflow: hidden;
      height: 12em;
    }
  }

  & .title {
    color: #251202a0;
    font-weight: bold;
    margin: 10px 20px 0 20px;
  }
}

.ant-carousel .slick-dots li {
  width: 5px;
  height: 5px;
  button {
    background: #f97241 !important;
    opacity: 1 !important;
    height: 5px;
    border-radius: 5px;
  }

  &.slick-active {
    width: 10px !important;
  }
}

.ant-carousel {
  touch-action: pan-x;
}
