.wiki-level-setting .wiki-level-setting-label {
  padding-left: 0;
  .wiki-element {
    font-size: 0.8em;
    color: #c7254e;;
    background: #0000000c;
    display: inline-block;
    transform: translate(0px, -0.1em);
  }
}
