body {
  background-color: #f8f8f8;
  --shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 4px 0px, rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
  user-select: none;
  touch-action: pan-y;
}

.hidden {
  display: none !important;
}

.nav-content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & > *:nth-child(4) {
    max-width: 780px;
    margin: 0 auto;
    width: 100%;
  }
}

.background-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.background {
  filter: blur(50px) opacity(0.08);
}

.btn-import,
.btn-create {
  height: unset;
  display: block;
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  border-style: solid;
}

.pagination {
  text-align: center;
  margin: 20px 0 40px 0;
}

.show-when-print {
  display: none;
}

.random-color-0 {
  background: #ccccff40 !important;
}

.random-color-1 {
  background: #99cccc40 !important;
}

.random-color-2 {
  background: #ffcccc40 !important;
}

.random-color-3 {
  background: #e9ae6a40 !important;
}

.random-color-4 {
  background: #ffffcc40 !important;
}

.random-color-5 {
  background: #cccccc40 !important;
}

.random-color-6 {
  background: #ffcccc40 !important;
}

.float-menus {
  position: fixed;
  right: 0;
  margin: 10px;
  z-index: 2;
  display: flex;
  bottom: 1em;
  flex-direction: column;
  opacity: 0.8;

  & button {
    box-shadow: 1px 1px 3px #0008;
    margin-block-end: 10px;
  }
}

@media print {
  body {
    background-color: transparent;
  }
}

pre {
  background: transparent !important;
}

code {
  white-space: pre-wrap !important;
  word-break: break-all !important;
}

span.token {
  background: transparent !important;
}

.code {
  padding: 0 20px;
}
