.terminal-replayer {
  --background-1: #2b2d2e;
  --background-2: #2b2d2e;
  --foreground: #2d2d2d;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border-radius: 0px;
  box-sizing: border-box;
  background-image: radial-gradient(
      #ffcccc,
      rgba(255, 255, 255, 0.2) 40px,
      transparent 80px
    ),
    radial-gradient(#ccccff, rgba(255, 255, 255, 0.3) 30px, transparent 100px),
    radial-gradient(#99cccc, rgba(255, 255, 255, 0.2) 30px, transparent 100px);
  background-size: 300px 300px, 200px 200px, 300px 300px;
  background-position: 0 0, 20px 40px, 70px 30px, 60px 80px;
  padding: 10px;
  color: var(--foreground);
}

@keyframes replay-blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.replay {
  position: fixed;
  font-family: Ringside Regular A, Ringside Regular B, Rubik, Lato,
    Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;
  font-weight: bolder;
  font-size: 0.6em;
  right: 0.4em;
  top: 0.2em;
  color: #ff4081;
}

.replay.playing {
  animation: replay-blink 1.5s infinite;
}
