.terminal-replayer {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border-radius: 0px;
  box-sizing: border-box;
  background: linear-gradient(45deg, #f5f2f0 0%, #fcfcfc 100%);
  text-shadow: 0 0 3px #8888;
  padding: 10px;
}
.terminal-replayer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    #00000004,
    #00000004 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
}

@keyframes replay-blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.replay {
  position: fixed;
  font-family: Ringside Regular A, Ringside Regular B, Rubik, Lato,
    Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;
  font-weight: bolder;
  font-size: 0.6em;
  right: 0.4em;
  top: 0.2em;
  color: #ff4081;
}

.replay.playing {
  animation: replay-blink 1.5s infinite;
}
