:host {
  --csi-color-0: rgb(1, 1, 1);
  --csi-color-1: rgb(222, 56, 43);
  --csi-color-2: rgb(57, 181, 74);
  --csi-color-3: rgb(255, 199, 6);
  --csi-color-4: rgb(0, 111, 184);
  --csi-color-5: rgb(118, 38, 113);
  --csi-color-6: rgb(44, 181, 233);
  --csi-color-7: rgb(204, 204, 204);
  padding: 8px;
}
.screen {
  font-size: 11px;
  line-height: 2em;
  font-family: monospace;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: pre-wrap;
  margin: 0;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.caret {
  animation: blink 1s infinite;
  user-select: none;
  shape-outside: content-box;
  color:var(--csi-color-4);
}
.csi-1 {
  font-weight: bold;
}
.csi-2 {
  font-weight: lighter;
}
.csi-3 {
  font-style: italic;
}
.csi-30 {
  color: var(--csi-color-0);
}
.csi-40 {
  background-color: var(--csi-color-0);
}
.csi-31 {
  color: var(--csi-color-1);
}
.csi-41 {
  background-color: var(--csi-color-1);
}
.csi-32 {
  color: var(--csi-color-2);
}
.csi-42 {
  background-color: var(--csi-color-2);
}
.csi-33 {
  color: var(--csi-color-3);
}
.csi-43 {
  background-color: var(--csi-color-3);
}
.csi-34 {
  color: var(--csi-color-4);
}
.csi-44 {
  background-color: var(--csi-color-4);
}
.csi-35 {
  color: var(--csi-color-5);
}
.csi-45 {
  background-color: var(--csi-color-5);
}
.csi-36 {
  color: var(--csi-color-6);
}
.csi-46 {
  background-color: var(--csi-color-6);
}
.csi-37 {
  color: var(--csi-color-7);
}
.csi-47 {
  background-color: var(--csi-color-7);
}
.hidden {
  display: none;
}
