a.outsite-link {
  // color: var(--primary-c0) !important;
  // text-decoration: underline !important;
}

// a.insite-link {

// }

.inline-code,
a.wiki-link {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.1em 0.3em 0.1em;
  margin: 0 0.1em;
  border-radius: 0.3em;
  font-size: 0.9em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  vertical-align: middle;
  font-family: monospace;
}

a.wiki-link {
  color: #c7254e;
  background-color: #0000000c;

  .hover & {
    background: unset;
  }
}

.inline-code {
  // color: #000;
  // font-weight: 550;
  background-color: #0000000c;
  .hover & {
    background: unset;
  }
}

a.wiki-link-disabled {
  color: unset !important;
}
