a.outsite-link {
  color: unset !important;
  text-decoration: underline !important;
}

// a.insite-link {

// }

code,
a.wiki-link {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.1em 0.3em 0.1em;
  margin: 0 0.1em;
  border-radius: 0.2em;
  font-size: 0.9em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

a.wiki-link {
  background: #ffeff0;
  color: unset;

  .hover & {
    background: unset;
  }
}

code {
  background: #0000000e;
  font-family: monospace;
  .hover & {
    background: unset;
  }
}

a.wiki-link-disabled {
  color: unset !important;
}
