a.outsite-link {
  color: unset !important;
  text-decoration: underline !important;
}

// a.insite-link {

// }

code,
a.wiki-link {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.1em 0.3em 0.1em;
  margin: 0 0.1em;
  border-radius: 0.2em;
  font-size: 0.9em;
}

a.wiki-link {
  background: #ffeff0;
  color: unset;
}

code {
  background: #f5f5f5;
}

a.wiki-link-disabled {
  color: unset !important;
}
