:root {
  --color: #fff;
}

.palette {
  width: 80%;
  align-content: space-between;
  padding: 10px;
  margin: 10px 10%;
  backdrop-filter: blur(5px);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  max-height: 60vh;
  overflow: auto;
  background: #fffe;
}

.palette > div {
  width: 17%;
  height: 48px;
  margin: 10px auto;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #000c;
}
.palette > div.selected {
  box-shadow: 1px 1px 3px #0087ff;
}
