.toast-panel,
.modal-panel,
.popup-panel {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 10px;
}

.toast-panel {
  flex-direction: column-reverse;
  pointer-events: none;
}

.popup-panel {
  padding: 0;
  background: #00000080;
}

.popup-panel > * {
  flex: 1;
}

.modal-panel {
  background-color: #00000080;
}

.toast-panel > div {
  background-color: #00000080;
  margin: 20px auto;
  padding: 2px 5px;
  border-radius: 0.25em;
}

.toast-panel > div > span {
  font-size: 1.25em;
  color: white;
}

.modal-panel > div {
  background-color: white;
  border-radius: 8px;
  width: 80%;
  margin: auto;
  padding: 10px 20px;
  border: #c0c0c0 solid 1px;
  display: flex;
  flex-direction: column;
}

.modal-panel > div > h1 {
  font-size: 1em;
  margin-block-start: 0.33em;
}

.modal-panel > div > input[type="input"] {
  background: #fff;
  /* flex: 1; */
  height: 3em;
  font-size: 1em;
  /* padding: 5px; */
  margin: 5px 10px;
  border: #c0c0c0 solid 1px;
  border-radius: 8px;
  outline: 0 !important;
  color: -internal-light-dark-color(black, white);
  background-color: -internal-light-dark-color(white, black);
}

.modal-panel > div > input[type="range" i] {
  outline: none !important;
}

.btn-groups {
  display: flex;
  margin: 0 auto;
  flex-direction: row-reverse;
}

.btn-groups > input[type="button"] {
  margin: 8px;
  padding: 2px 8px;
  flex: 1;
  border: none;
}

.close {
  --box-size: 36px;
  --size: 32px;
  --half-size: 20px;
  position: absolute;
  width: var(--box-size);
  height: var(--box-size);
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 2px;
  background: #00000080;
  border-radius: var(--size);
}

.close:before,
.close:after {
  position: absolute;
  left: var(--half-size);
  content: " ";
  height: var(--size);
  width: 2px;
  top: 4px;
  background: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
