.account {
  & > .avatar-wraper {
    margin: 40px auto 0 auto;
    display: block;
    border-radius: 100%;
    border-width: 5px;
    border-style: solid;
    width: 128px;
    height: 128px;
    box-sizing: content-box;
    border-color: #fffc;
    & > .avatar {
      width: 128px;
      height: 128px;
    }
  }

  & > .user-name {
    margin: 0 auto;
    display: block;
    font-size: xx-large;
  }

  & > .btn {
    margin: 20px auto;
    display: block;
    width: 50%;
  }
}

.change-pwd-panel {
  display: flex;
}
