.manage-subjects {
  padding: 10px 10px 40px 10px;

  & .subject-icon-column,
  & .subject-create-column,
  & .subject-delete-column {
    width: 24px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
