.recents-view {
    margin-bottom: 20px;

    & .recent-article-wraper {
        border-radius: 10px;
        box-shadow: 1px 1px 3px #0008;
        padding: 10px;
        margin: 10px;
        background-color: #fff8;

        & .recent-article {
            overflow: hidden;
            height: 12em;
        }
    }

    & .title {
        color: #251202a0;
        font-weight: bold;
        margin: 10px 20px 0 20px;
    }
}

.ant-carousel .slick-dots li button {
    background: #f97241 !important;
}

.ant-carousel {
    touch-action: pan-x;
}